body{
  background-color: beige;
}

.page-box{
  min-height:500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.switch-buttons{
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  width: 23rem;
  justify-content: space-between;
}

.list{
  display: flex;
  flex-direction: column-reverse;
}

.general-list-item{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  /* background-color: beige; */
}

.title-description{
  display:flex;
  flex-direction: column;
}

.title{
  color:white;
}



.description{
  color:white;
}

input[type="checkbox"] {
  cursor:pointer;
  width: 1.15em;
  height: 1.15em;
  margin-right:10px;
}